# haiii ppookies UwU 6767676767676767676767, rip my granny she got hit by a bazooookka. kablammm, KABOOOM. what's 76 backwards??

# on an actual serious note, I would like to say a few words for Micheal Jackson. 
# Micheal Jackson's soul was the purest the world has ever seen, his music, his dance, his voice, his heart, his LOVE for his fans, his love for children, his love for animals, his love for the world. he was a TRUE angel.
# & this world is a very dark place without him. I will forever stand by his inocense, and he will never truly die. Rest in peace, King of the World, King of Pop. We LOVE you so much Micheal :( <333

# API_THROTTLE_GLOBAL=1200,1,api

# API_THROTTLE_SCORES_DOWNLOAD=10,1,api-scores-download

APP_NAME=
M1PP_SITE_TITLE=
APP_URL=
APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_LOG_LEVEL=warning

# APP_SENTRY=

# APP_SENTRY_ENVIRONMENT=

# DOCS_URL=

CLOCKWORK_ENABLE=false
QUERY_DETECTOR_ENABLED=false

NGINX_PORT=8088

# APP_ENV=local

# APP_DEBUG=true

# APP_URL=http://localhost:8088

# APP_LOG_LEVEL=debug

# SESSION_SECURE_COOKIE=false

# FILESYSTEM_DISK=local

# M1PP_IMPORTED_ASSETS_DISK=local

DB_HOST=db
DB_DATABASE=
DB_USERNAME=

# DB_PASSWORD=

M1PP_PRIVATE_SERVER_ENABLED=false
M1PP_PRIVATE_SERVER_BACKEND=
M1PP_PRIVATE_SERVER_REGISTRATION_ENABLED=false

M1PP_PRIVATE_SERVER_DB_HOST=
M1PP_PRIVATE_SERVER_DB_PORT=3306
M1PP_PRIVATE_SERVER_DB_DATABASE=
M1PP_PRIVATE_SERVER_DB_USERNAME=
M1PP_PRIVATE_SERVER_DB_PASSWORD=

# M1PP_PRIVATE_SERVER_DB_DATABASE=

M1PP_BEATMAP_DOWNLOAD_URL=
M1PP_BEATMAPSET_COVER_URL=
M1PP_BEATMAPSET_COVER_2X_URL=
M1PP_BEATMAPSET_LIST_COVER_URL=
M1PP_BEATMAPSET_LIST_COVER_2X_URL=
M1PP_BEATMAPSET_SLIM_COVER_URL=
M1PP_BEATMAPSET_SLIM_COVER_2X_URL=
M1PP_BEATMAPSET_CARD_COVER_URL=
M1PP_BEATMAPSET_CARD_COVER_2X_URL=

M1PP_AVATAR_URL=
M1PP_USER_COVER_URL=

M1PP_SOURCE_AVATAR_PATH=
M1PP_SOURCE_USER_COVER_PATH=

M1PP_SOURCE_CLAN_ICON_PATH=
M1PP_SOURCE_CLAN_COVER_PATH=

FILESYSTEM_DISK=s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=auto
AWS_BUCKET=
AWS_ENDPOINT=
AWS_URL=
AWS_USE_PATH_STYLE_ENDPOINT=true
M1PP_IMPORTED_ASSETS_DISK=s3
M1PP_IMPORTED_ASSETS_BASE_URL=

M1PP_LAUNCHER_DOWNLOAD_URL=
M1PP_LAUNCHER_DOWNLOAD_WINDOWS_URL=
M1PP_LAUNCHER_DOWNLOAD_INFO_URL=

M1PP_SOURCE_CODE_URL=
M1PP_CONTACT_EMAIL=
M1PP_NON_AFFILIATION_TEXT=

M1PP_FEATURE_DAILY_CHALLENGE=false
M1PP_FEATURE_FEATURED_ARTISTS=false
M1PP_FEATURE_LAZER_TOGGLE=false
M1PP_FEATURE_LEGACY_API_SETTINGS=false
M1PP_FEATURE_LIVESTREAMS=false
M1PP_FEATURE_OAUTH_SETTINGS=false
M1PP_FEATURE_PLAYLISTS=false
M1PP_FEATURE_PRESENCE=false
M1PP_FEATURE_RANKED_PLAY=false
M1PP_FEATURE_STORE=false

M1PP_DISCORD_URL=

M1PP_LOCAL_DEV_PASSWORD=

# M1PP_LOCAL_DEV_USERNAME=

# M1PP_LOCAL_DEV_EMAIL=

# M1PP_LOCAL_STAFF_USERNAMES=

# REDIS_HOST=127.0.0.1

# REDIS_PORT=6379

# REDIS_DB=0

# REDIS_PASSWORD=

# CACHE_REDIS_HOST=127.0.0.1

# CACHE_REDIS_PORT=6379

# CACHE_REDIS_DB=0

# CACHE_REDIS_PASSWORD=

# MEMCACHED_PERSISTENT_ID=

# MEMCACHED_USERNAME=

# MEMCACHED_PASSWORD=

# MEMCACHED_HOST=127.0.0.1

# MEMCACHED_PORT=11211

OSU_API_KEY=

BROADCAST_DRIVER=redis
CACHE_DRIVER=redis
SESSION_DRIVER=redis

# SESSION_DOMAIN=

SESSION_SECURE_COOKIE=true

# SESSION_PREFIX=

MAIL_MAILER=smtp

# MAIL_HOST=

# MAIL_PORT=

# MAIL_ENCRYPTION=

# MAIL_USERNAME=

# MAIL_PASSWORD=

# MAIL_FROM_ADDRESS=

# MAIL_FROM_NAME=

SLACK_ENDPOINT=
SHARED_INTEROP_SECRET=

# STORE_NOTICE=

# BM_PROCESSOR_MIRRORS=1

# BM_PROCESSOR_THUMBNAILER=http://localhost:4001

# BM_PROCESSOR_SENTRY=

# S3_KEY=

# S3_SECRET=

# S3_REGION=

# S3_BUCKET=

# S3_BASE_URL=

# S3_MINI_URL=

# S3_ENDPOINT=

# S3_USE_PATH_STYLE_ENDPOINT=false

# S3_CENTRAL_BUCKET_NAME=

# S3_CENTRAL_BUCKET_REGION=

# S3_REPLAY_BUCKET=replays

# S3_AVATAR_KEY=

# S3_AVATAR_SECRET=

# S3_AVATAR_REGION=

# S3_AVATAR_BUCKET=

# S3_AVATAR_BASE_URL=

# DEFAULT_AVATAR=

# S3_PREVIEW_BUCKET=previews

# S3_SCREENSHOT_BUCKET=screenshots

SCREENSHOTS_SHARED_SECRET=

# SCREENSHOTS_LEGACY_ID_CUTOFF=1

# CACHE_PROXY_PURGE_AUTHORIZATION_KEY=

QUEUE_DRIVER=redis
CAMO_KEY=

# CAMO_PREFIX=

SERVER_FETCH_ALLOWED_BASE_URLS=

# ADMIN_FORUM_ID=

# FEATURE_COMPLETED_FORUM_ID=

# FEATURE_FORUM_ID=

# FEATURE_TOPIC_LARGE_STAR_CUTOFF=1000

# HELP_ARCHIVED_FORUM_ID=

# HELP_CONFIRMED_FORUM_ID=

# HELP_FORUM_ID=

# INITIAL_HELP_FORUM_IDS=

# ISSUE_FORUM_IDS=

# FORUM_POST_MINIMUM_PLAYS=200

# BEATMAP_DESCRIPTION_FORUM_ID=

# DOUBLE_POST_ALLOWED_FORUM_IDS=

PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=

# PASSPORT_KEY_PATH=

# ENCHANT_ID=

# GITHUB_TOKEN=

# GITHUB_CLIENT_ID=

# GITHUB_CLIENT_SECRET=

# DATADOG_ENABLED=true

# DATADOG_PREFIX=

# DATADOG_API_KEY=

# DATADOG_APP_KEY=

# DATADOG_HOST=

# DATADOG_STATSD_HOST=

# DATADOG_STATSD_PORT=8125

# DATADOG_STATSD_SOCKET=

LANDING_VIDEO_URL=

# FEATURED_UPDATE_STREAM=

# UPDATE_STREAMS=

# CHANGELOG_CHART_DAYS=

# CHANGELOG_BUILD_HISTORY_INTERVAL=

# CHANGELOG_GITHUB_TOKEN=

# SUPER_FRIENDLY='3'

PAYMENT_SANDBOX=false

SHOPIFY_DOMAIN=
SHOPIFY_STOREFRONT_TOKEN=
SHOPIFY_WEBHOOK_KEY=

STORE_STALE_DAYS=

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_MERCHANT_ID=
PAYPAL_NO_SHIPPING_EXPERIENCE_PROFILE_ID=
PAYPAL_URL=

XSOLLA_API_KEY=
XSOLLA_MERCHANT_ID=
XSOLLA_PROJECT_ID=
XSOLLA_SECRET_KEY=

OSU_RUNNING_COST=

CLIENT_CHECK_VERSION=false

# CLIENT_DOWNLOAD_STREAM=

# CLIENT_USER_AGENT=

# DEFAULT_BUILD_ID=0

# SEARCH_MINIMUM_LENGTH=2

# BEATMAPS_DIFFICULTY_CACHE_SERVER_URL=

# BEATMAPS_OWNERS_MAX=10

# BEATMAPSET_DISCUSSION_KUDOSU_PER_USER=10

# BEATMAPSET_GUEST_ADVANCED_SEARCH=0

# BEATMAPSET_MAXIMUM_DISQUALIFIED_RANK_PENALTY_DAYS=7

# BEATMAPSET_REQUIRED_HYPE=5

# BEATMAPSET_USER_WEEKLY_HYPE=3

# BEATMAPSET_USER_DAILY_NOMINATIONS=10

# BEATMAPSET_USER_DOWNLOAD_LIMIT_HOURLY=10

# BEATMAPSET_USER_DOWNLOAD_LIMIT_HOURLY_SUPPORTER=20

# BEATMAPSET_USER_FAVOURITE_LIMIT=100

# BEATMAPSET_USER_FAVOURITE_LIMIT_SUPPORTER=1000

# BEATMAPSET_REQUIRED_NOMINATIONS=2

# BAN_PERSIST_DAYS=28

# ES_HOST=localhost:9200

# ES_SOLO_SCORES_HOST=localhost:9200

# ES_INDEX_PREFIX=

# ES_CLIENT_TIMEOUT=5

# ES_CLIENT_CONNECT_TIMEOUT=0.5

# ES_SEARCH_TIMEOUT=5s

# ES_SLOW_CLIENT_TIMEOUT=60

# USER_ACHIEVEMENT_ICON_PREFIX=

# CHAT_CHANNEL_LIMIT=10000

# CHAT_PUBLIC_LIMIT=1

# CHAT_PUBLIC_WINDOW=1

# CHAT_PRIVATE_LIMIT=1

# CHAT_PRIVATE_WINDOW=1

# CHAT_MESSAGE_LENGTH_LIMIT=450

# CHAT_PUBLIC_BACKLOG_LIMIT_HOURS=24

# ALLOW_REGISTRATION=true

# REGISTRATION_MODE_CLIENT=true

# REGISTRATION_MODE_WEB=false

# USER_ALLOW_EMAIL_LOGIN=true

# USER_ALWAYS_REQUIRE_VERIFICATION=false

# USER_BYPASS_VERIFICATION=false

# USER_POST_ACTION_VERIFICATION=true

# USER_MAX_LOGIN_ATTEMPTS=10

# USER_MIN_PLAYS_FOR_POSTING=10

# USER_MIN_PLAYS_ALLOW_VERIFIED_BYPASS=true

# USER_ALLOWED_RENAME_GROUPS="default"

# USER_MAX_FOLLOWS=5000

# USER_MAX_FRIENDS=250

# USER_MAX_FRIENDS_SUPPORTER=500

# USER_MAX_MULTIPLAYER_DURATION=14

# USER_MAX_MULTIPLAYER_DURATION_SUPPORTER=93

# USER_MAX_PLAYLISTS=1

# USER_MAX_PLAYLISTS_SUPPORTER=5

# USER_MAX_ITEMS_IN_PLAYLIST=256

# USER_MAX_TOURNAMENT_ROOMS=4

# USER_MAX_TOURNAMENT_ROOMS_BOT=50

# USER_MAX_SCORE_PINS=10

# USER_MAX_SCORE_PINS_SUPPORTER=50

# USER_PROFILE_SCORES_NOTICE=

# MULTIPLAYER_MAX_ATTEMPTS_LIMIT=128

# MULTIPLAYER_ROOM_CLOSE_GRACE_PERIOD_MINUTES=5

# NOTIFICATION_QUEUE=notification

# NOTIFICATION_REDIS_HOST=127.0.0.1

# NOTIFICATION_REDIS_PORT=6379

# NOTIFICATION_REDIS_DB=0

# NOTIFICATION_REDIS_PASSWORD=

# NOTIFICATION_SERVER_LISTEN_HOST=127.0.0.1

# NOTIFICATION_SERVER_LISTEN_PORT=3000

# NOTIFICATION_ENDPOINT=/home/notifications/feed

# NOTIFICATION_CLEANUP_KEEP_DAYS=180

# NOTIFICATION_CLEANUP_MAX_DELETE=50000

# OS_BOUNTY_URL=

# OAUTH_MAX_USER_CLIENTS=1

# TEAM_CREATE_REQUIRE_SUPPORTER=false

# TEAM_EXTRA_STATISTICS_CACHE_DURATION=600

# TEAM_MAX_MEMBERS=40

# USER_REPORT_NOTIFICATION_ENDPOINT_CHEATING=

# USER_REPORT_NOTIFICATION_ENDPOINT_MODERATION=

# USER_REPORT_NOTIFICATION_ENDPOINT_BEATMAPSET=

# USER_REPORT_NOTIFICATION_ENDPOINT_BEATMAPSET_DISCUSSION=

# USER_REPORT_NOTIFICATION_ENDPOINT_CHAT=

# USER_REPORT_NOTIFICATION_ENDPOINT_COMMENT=

# USER_REPORT_NOTIFICATION_ENDPOINT_FORUM=

# USER_REPORT_NOTIFICATION_ENDPOINT_USER=

# LOG_CHANNEL=single

# WIKI_BRANCH=

# WIKI_REPOSITORY=

# WIKI_USER=

# BEATMAPSET_DISCUSSION_REVIEW_MAXIMUM_BLOCKS=1

# BEATMAPSET_DISCUSSION_REVIEW_MINIMUM_ISSUES=1

# PAGINATION_MAX_COUNT=10000

# BEATMAPSET_UPLOAD_ALLOWED=4

# BEATMAPSET_UPLOAD_BONUS_PER_RANKED=1

# BEATMAPSET_UPLOAD_BONUS_PER_RANKED_MAX=2

# BEATMAPSET_UPLOAD_ALLOWED_SUPPORTER=8

# BEATMAPSET_UPLOAD_BONUS_PER_RANKED_SUPPORTER=1

# BEATMAPSET_UPLOAD_BONUS_PER_RANKED_MAX_SUPPORTER=12

# CAPTCHA_THRESHOLD=

# TURNSTILE_SITE_KEY=

# TURNSTILE_SECRET_KEY=

# TWITCH_CLIENT_ID=

# TWITCH_CLIENT_SECRET=

# SCORES_ES_CACHE_DURATION=

# SCORES_PROCESSING_QUEUE=

# SCORES_SUBMISSION_ENABLED=1

# SCORES_USER_SUMMARY_MIN_ID=

# SCORE_INDEX_MAX_ID_DISTANCE=10_000_000

# BANCHO_BOT_USER_ID=

# OCTANE_LOCAL_CACHE_EXPIRE_SECOND=60

# OCTANE_LOCAL_CACHE_RESET_REQUESTS=100

# TRUSTED_PROXIES=

# IS_DEVELOPMENT_DEPLOY=false

# OSU_URL_DEV=

OSU_URL_DOWNLOAD_VIDEO=

# OSU_URL_INSTALLER=

# OSU_URL_INSTALLER_MIRROR=

# OSU_URL_LAZER_ANDROID=

# OSU_URL_LAZER_IOS=

# OSU_URL_LAZER_LINUX_X64=

# OSU_URL_LAZER_MACOS_AS=

# OSU_URL_LAZER_MACOS_INTEL=

# OSU_URL_LAZER_OTHER=

# OSU_URL_LAZER_WINDOWS_X64=

# OSU_URL_LAZER_INFO=

# OSU_URL_MENU_CONTENT_JSON=

# OSU_URL_OSX=

# OSU_URL_SERVER_STATUS=

# OSU_URL_SOCIAL_TWITTER=

# OSU_URL_SOURCE_CODE=

# OSU_URL_USER_RECOVER=

# OSU_URL_USER_RESTRICTION=

# OSU_URL_USER_RULES=

# USER_COUNTRY_CHANGE_MAX_MIXED_MONTHS=2

# USER_COUNTRY_CHANGE_MIN_MONTHS=6

# USER_INACTIVE_DAYS_VERIFICATION=180

# USER_INACTIVE_FORCE_PASSWORD_RESET=false

# USER_WRAPPED_ENABLED=false

# COUNTRY_PERFORMANCE_USER_COUNT=1000

# COUNTRY_PERFORMANCE_WEIGHTING_FACTOR=0.99

# TEAM_PERFORMANCE_USER_COUNT=48

# TEAM_PERFORMANCE_WEIGHTING_FACTOR=0.96

# BEATMAP_TAGS_CACHE_DURATION=60

# BEATMAP_TAGS_MIN_VOTES_DISPLAY=5

# BEATMAP_TAGS_TOP_COUNT=50

# OSU_SENTRY_LOG_SAMPLE_RATE=0

# SENTRY_TRACES_SAMPLE_RATE=

# TOTP_ISSUER_NAME=
